In [271]:
import pandas as pd 
import random as rn
import math as mt 
import matplotlib.pyplot as plt 

data = pd.read_csv("C:/Users/Zualfiqar/Desktop/Social Media.csv")
data.head()

,type,gender,age,city,pform,pform_2,use_begin,min_hours,max_hours,min_person,max_person,using_kind,opinion,rate,rate_2
0,Social Media,Male,28,LAT,Twitter,Instagram,2014,2.0,4.0,1.0,2.0,NEWS,Positive,5,NaN
1,Social Media,Female,24,HOM,Facebook,WhatsApp,2009,1.0,5.0,3.0,10.0,NaN,Nothing,4,5.0
2,Social Media,Male,29,TAR,Facebook-Messenger,Twitter,2011,2.0,4.0,1.0,5.0,Communication,Positive,4,4.0
3,Social Media,Male,32,LAT,Facebook,Instagram,2006,1.0,3.0,0.0,3.0,NEWS,Nothing,2,4.0
4,Social Media,Male,34,LAT,Facebook,WhatsApp,2012,2.0,5.0,2.0,6.0,Communication,Nothing,3,3.0

In [272]:
data = data.drop("rate_2",axis=1)

In [273]:
data.describe()

,age,use_begin,min_hours,max_hours,min_person,max_person,rate
count,68.000000,68.000000,63.000000,65.000000,67.000000,67.000000,68.000000
mean,28.220588,2011.382353,2.492063,6.169231,2.059701,6.462687,3.588235
std,4.855665,2.608994,2.030994,2.950473,1.613209,5.037220,0.980942
min,21.000000,2006.000000,1.000000,1.000000,0.000000,1.000000,1.000000
25%,25.000000,2010.000000,1.000000,4.000000,1.000000,3.000000,3.000000
50%,28.000000,2011.000000,2.000000,6.000000,2.000000,5.000000,4.000000
75%,30.000000,2013.250000,3.000000,8.000000,3.000000,8.000000,4.000000
max,44.000000,2018.000000,12.000000,14.000000,8.000000,30.000000,5.000000

In [274]:
data[data.duplicated(keep=False)]

Empty DataFrame
Columns: [type, gender, age, city, pform, pform_2, use_begin, min_hours, max_hours, min_person, max_person, using_kind, opinion, rate]
Index: []

In [275]:
data[data.isna().any(axis=1)]

,type,gender,age,city,pform,pform_2,use_begin,min_hours,max_hours,min_person,max_person,using_kind,opinion,rate
1,Social Media,Female,24,HOM,Facebook,WhatsApp,2009,1.0,5.0,3.0,10.0,NaN,Nothing,4
5,Social Media,Male,28,HOM,Facebook,Instagram,2010,NaN,2.0,2.0,5.0,Communication,Positive,4
13,Social Media,Male,31,HOM,Facebook,Youtube,2010,2.0,8.0,1.0,5.0,NaN,Positive,4
17,Social Media,Male,28,HOM,Facebook,Telegram,2009,NaN,2.0,3.0,10.0,Communication,Positive,4
19,Social Media,Male,25,LAT,Youtube,Facebook,2009,4.0,10.0,2.0,5.0,NaN,Nothing,4
25,Social Media,Male,22,LAT,Facebook,Youtube,2014,5.0,6.0,0.0,5.0,NaN,Negative,3
28,Social Media,Male,25,TAR,Facebook,Instagram,2012,1.0,3.0,1.0,2.0,NaN,Negative,1
35,Social Media,Female,24,LAT,Facebook,Instagram,2014,2.0,6.0,1.0,2.0,NaN,Positive,3
36,Social Media,Male,26,HOM,Facebook,WhatsApp,2009,1.0,4.0,3.0,20.0,NaN,Positive,4
40,Social Media,Male,44,HOM,WhatsApp,Facebook,2014,3.0,5.0,3.0,8.0,NaN,Nothing,3
42,Social Media,Male,24,HAM,Facebook,Telegram,2016,NaN,NaN,3.0,3.0,NaN,Negative,1
43,Social Media,Female,25,LAT,Facebook,WhatsApp,2014,6.0,14.0,2.0,8.0,NaN,Nothing,3
46,Social Media,Male,29,TAR,Instagram,Facebook,2007,1.0,2.0,1.0,3.0,NaN,Nothing,4
48,Social Media,Female,28,LAT,Youtube,Facebook,2013,4.0,8.0,1.0,5.0,NaN,Positive,3
51,Social Media,Male,25,HAS,Facebook,Youtube,2012,12.0,12.0,6.0,NaN,Communication,Nothing,3
52,Social Media,Male,21,LAT,Facebook,Youtube,2013,NaN,8.0,NaN,4.0,NaN,Positive,4
59,Social Media,Male,25,LAT,Facebook,Telegram,2011,NaN,8.0,0.0,5.0,Communication,Negative,3
60,Social Media,Male,33,DAR,Facebook,Youtube,2008,1.0,NaN,4.0,10.0,Communication,Positive,5
61,Social Media,Female,25,DAM,WhatsApp,Instagram,2017,1.0,NaN,1.0,1.0,NEWS,Positive,5

In [276]:
min_hours = data.min_hours.fillna(mt.floor(data.min_hours.mean()))
data.min_hours = min_hours
data[data.isna().any(axis=1)]

,type,gender,age,city,pform,pform_2,use_begin,min_hours,max_hours,min_person,max_person,using_kind,opinion,rate
1,Social Media,Female,24,HOM,Facebook,WhatsApp,2009,1.0,5.0,3.0,10.0,NaN,Nothing,4
13,Social Media,Male,31,HOM,Facebook,Youtube,2010,2.0,8.0,1.0,5.0,NaN,Positive,4
19,Social Media,Male,25,LAT,Youtube,Facebook,2009,4.0,10.0,2.0,5.0,NaN,Nothing,4
25,Social Media,Male,22,LAT,Facebook,Youtube,2014,5.0,6.0,0.0,5.0,NaN,Negative,3
28,Social Media,Male,25,TAR,Facebook,Instagram,2012,1.0,3.0,1.0,2.0,NaN,Negative,1
35,Social Media,Female,24,LAT,Facebook,Instagram,2014,2.0,6.0,1.0,2.0,NaN,Positive,3
36,Social Media,Male,26,HOM,Facebook,WhatsApp,2009,1.0,4.0,3.0,20.0,NaN,Positive,4
40,Social Media,Male,44,HOM,WhatsApp,Facebook,2014,3.0,5.0,3.0,8.0,NaN,Nothing,3
42,Social Media,Male,24,HAM,Facebook,Telegram,2016,2.0,NaN,3.0,3.0,NaN,Negative,1
43,Social Media,Female,25,LAT,Facebook,WhatsApp,2014,6.0,14.0,2.0,8.0,NaN,Nothing,3
46,Social Media,Male,29,TAR,Instagram,Facebook,2007,1.0,2.0,1.0,3.0,NaN,Nothing,4
48,Social Media,Female,28,LAT,Youtube,Facebook,2013,4.0,8.0,1.0,5.0,NaN,Positive,3
51,Social Media,Male,25,HAS,Facebook,Youtube,2012,12.0,12.0,6.0,NaN,Communication,Nothing,3
52,Social Media,Male,21,LAT,Facebook,Youtube,2013,2.0,8.0,NaN,4.0,NaN,Positive,4
60,Social Media,Male,33,DAR,Facebook,Youtube,2008,1.0,NaN,4.0,10.0,Communication,Positive,5
61,Social Media,Female,25,DAM,WhatsApp,Instagram,2017,1.0,NaN,1.0,1.0,NEWS,Positive,5

In [277]:
max_hours = data.max_hours.fillna(mt.ceil(data.max_hours.mean()))
data.max_hours = max_hours
data[data.isna().any(axis=1)]

,type,gender,age,city,pform,pform_2,use_begin,min_hours,max_hours,min_person,max_person,using_kind,opinion,rate
1,Social Media,Female,24,HOM,Facebook,WhatsApp,2009,1.0,5.0,3.0,10.0,NaN,Nothing,4
13,Social Media,Male,31,HOM,Facebook,Youtube,2010,2.0,8.0,1.0,5.0,NaN,Positive,4
19,Social Media,Male,25,LAT,Youtube,Facebook,2009,4.0,10.0,2.0,5.0,NaN,Nothing,4
25,Social Media,Male,22,LAT,Facebook,Youtube,2014,5.0,6.0,0.0,5.0,NaN,Negative,3
28,Social Media,Male,25,TAR,Facebook,Instagram,2012,1.0,3.0,1.0,2.0,NaN,Negative,1
35,Social Media,Female,24,LAT,Facebook,Instagram,2014,2.0,6.0,1.0,2.0,NaN,Positive,3
36,Social Media,Male,26,HOM,Facebook,WhatsApp,2009,1.0,4.0,3.0,20.0,NaN,Positive,4
40,Social Media,Male,44,HOM,WhatsApp,Facebook,2014,3.0,5.0,3.0,8.0,NaN,Nothing,3
42,Social Media,Male,24,HAM,Facebook,Telegram,2016,2.0,7.0,3.0,3.0,NaN,Negative,1
43,Social Media,Female,25,LAT,Facebook,WhatsApp,2014,6.0,14.0,2.0,8.0,NaN,Nothing,3
46,Social Media,Male,29,TAR,Instagram,Facebook,2007,1.0,2.0,1.0,3.0,NaN,Nothing,4
48,Social Media,Female,28,LAT,Youtube,Facebook,2013,4.0,8.0,1.0,5.0,NaN,Positive,3
51,Social Media,Male,25,HAS,Facebook,Youtube,2012,12.0,12.0,6.0,NaN,Communication,Nothing,3
52,Social Media,Male,21,LAT,Facebook,Youtube,2013,2.0,8.0,NaN,4.0,NaN,Positive,4

In [278]:
min_person = data.min_person.fillna(mt.floor(data.min_person.mean()))
data.min_person = min_person
data[data.isna().any(axis=1)]

,type,gender,age,city,pform,pform_2,use_begin,min_hours,max_hours,min_person,max_person,using_kind,opinion,rate
1,Social Media,Female,24,HOM,Facebook,WhatsApp,2009,1.0,5.0,3.0,10.0,NaN,Nothing,4
13,Social Media,Male,31,HOM,Facebook,Youtube,2010,2.0,8.0,1.0,5.0,NaN,Positive,4
19,Social Media,Male,25,LAT,Youtube,Facebook,2009,4.0,10.0,2.0,5.0,NaN,Nothing,4
25,Social Media,Male,22,LAT,Facebook,Youtube,2014,5.0,6.0,0.0,5.0,NaN,Negative,3
28,Social Media,Male,25,TAR,Facebook,Instagram,2012,1.0,3.0,1.0,2.0,NaN,Negative,1
35,Social Media,Female,24,LAT,Facebook,Instagram,2014,2.0,6.0,1.0,2.0,NaN,Positive,3
36,Social Media,Male,26,HOM,Facebook,WhatsApp,2009,1.0,4.0,3.0,20.0,NaN,Positive,4
40,Social Media,Male,44,HOM,WhatsApp,Facebook,2014,3.0,5.0,3.0,8.0,NaN,Nothing,3
42,Social Media,Male,24,HAM,Facebook,Telegram,2016,2.0,7.0,3.0,3.0,NaN,Negative,1
43,Social Media,Female,25,LAT,Facebook,WhatsApp,2014,6.0,14.0,2.0,8.0,NaN,Nothing,3
46,Social Media,Male,29,TAR,Instagram,Facebook,2007,1.0,2.0,1.0,3.0,NaN,Nothing,4
48,Social Media,Female,28,LAT,Youtube,Facebook,2013,4.0,8.0,1.0,5.0,NaN,Positive,3
51,Social Media,Male,25,HAS,Facebook,Youtube,2012,12.0,12.0,6.0,NaN,Communication,Nothing,3
52,Social Media,Male,21,LAT,Facebook,Youtube,2013,2.0,8.0,2.0,4.0,NaN,Positive,4

In [279]:
max_person = data.max_person.fillna(mt.ceil(data.max_person.mean()))
data.max_person = max_person
data[data.isna().any(axis=1)]

,type,gender,age,city,pform,pform_2,use_begin,min_hours,max_hours,min_person,max_person,using_kind,opinion,rate
1,Social Media,Female,24,HOM,Facebook,WhatsApp,2009,1.0,5.0,3.0,10.0,NaN,Nothing,4
13,Social Media,Male,31,HOM,Facebook,Youtube,2010,2.0,8.0,1.0,5.0,NaN,Positive,4
19,Social Media,Male,25,LAT,Youtube,Facebook,2009,4.0,10.0,2.0,5.0,NaN,Nothing,4
25,Social Media,Male,22,LAT,Facebook,Youtube,2014,5.0,6.0,0.0,5.0,NaN,Negative,3
28,Social Media,Male,25,TAR,Facebook,Instagram,2012,1.0,3.0,1.0,2.0,NaN,Negative,1
35,Social Media,Female,24,LAT,Facebook,Instagram,2014,2.0,6.0,1.0,2.0,NaN,Positive,3
36,Social Media,Male,26,HOM,Facebook,WhatsApp,2009,1.0,4.0,3.0,20.0,NaN,Positive,4
40,Social Media,Male,44,HOM,WhatsApp,Facebook,2014,3.0,5.0,3.0,8.0,NaN,Nothing,3
42,Social Media,Male,24,HAM,Facebook,Telegram,2016,2.0,7.0,3.0,3.0,NaN,Negative,1
43,Social Media,Female,25,LAT,Facebook,WhatsApp,2014,6.0,14.0,2.0,8.0,NaN,Nothing,3
46,Social Media,Male,29,TAR,Instagram,Facebook,2007,1.0,2.0,1.0,3.0,NaN,Nothing,4
48,Social Media,Female,28,LAT,Youtube,Facebook,2013,4.0,8.0,1.0,5.0,NaN,Positive,3
52,Social Media,Male,21,LAT,Facebook,Youtube,2013,2.0,8.0,2.0,4.0,NaN,Positive,4

In [280]:
data.using_kind.value_counts()

Communication    30
NEWS             15
Work              8
Studying          2
Name: using_kind, dtype: int64

In [281]:
count =0
for i in range(0,len(data.using_kind.isna())):
    if data.using_kind[i]!="NEWS" and data.using_kind[i]!="Studying" and data.using_kind[i]!="Communication" and data.using_kind[i]!="Work":
        count = count+1
        if count <= 6:
            data.using_kind[i]="Studying"
        else:
            data.using_kind[i]="Work"
count

<ipython-input-281-4283945219d8>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.using_kind[i]="Studying"
<ipython-input-281-4283945219d8>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.using_kind[i]="Work"

13

In [285]:
data[data.isna().any(axis=1)]

Empty DataFrame
Columns: [type, gender, age, city, pform, pform_2, use_begin, min_hours, max_hours, min_person, max_person, using_kind, opinion, rate]
Index: []

In [286]:
data[data.duplicated(keep=False)]

Empty DataFrame
Columns: [type, gender, age, city, pform, pform_2, use_begin, min_hours, max_hours, min_person, max_person, using_kind, opinion, rate]
Index: []

In [287]:
data.to_csv("D:/Perfect Social Media.csv")

In [289]:
new_data = pd.read_csv("C:/Users/Zualfiqar/Desktop/Perfect Social Media.csv")
new_data.head()

,Unnamed: 0,type,gender,age,city,pform,pform_2,use_begin,min_hours,max_hours,min_person,max_person,using_kind,opinion,rate
0,0,Social Media,Male,28,LAT,Twitter,Instagram,2014,2.0,4.0,1.0,2.0,NEWS,Positive,5
1,1,Social Media,Female,24,HOM,Facebook,WhatsApp,2009,1.0,5.0,3.0,10.0,Studying,Nothing,4
2,2,Social Media,Male,29,TAR,Facebook-Messenger,Twitter,2011,2.0,4.0,1.0,5.0,Communication,Positive,4
3,3,Social Media,Male,32,LAT,Facebook,Instagram,2006,1.0,3.0,0.0,3.0,NEWS,Nothing,2
4,4,Social Media,Male,34,LAT,Facebook,WhatsApp,2012,2.0,5.0,2.0,6.0,Communication,Nothing,3

In [293]:
new_id = set()
for i in new_data.index:
    new_id.add(rn.randint(99999,25*(10**6)))
new_id

{135849,
 381720,
 406108,
 876101,
 936600,
 1003503,
 1582209,
 1896770,
 1921176,
 1969431,
 1979790,
 3620626,
 4661400,
 4991351,
 5562772,
 5621948,
 6307473,
 6407561,
 6981374,
 7139220,
 7868663,
 8360398,
 8803184,
 9332369,
 9410599,
 9468977,
 9510561,
 9841885,
 10337066,
 10570881,
 12091981,
 12559421,
 12624868,
 12924237,
 13168680,
 13426621,
 14134381,
 15083823,
 15334128,
 15473126,
 15633644,
 16010632,
 16191731,
 16911785,
 17010789,
 17201183,
 17489644,
 17961487,
 18306430,
 18902898,
 19044570,
 19256068,
 19761802,
 19850100,
 20168139,
 20274687,
 20406977,
 20861084,
 20996620,
 21056573,
 22974890,
 23092365,
 23172353,
 23299342,
 23376989,
 23663246,
 23710224,
 24332306}

In [295]:
id_col =[]
for i in new_id:
    id_col.append(i)
len(id_col)

68

In [297]:
new_data.insert(0,"id",id_col)

In [302]:
new_data.opinion.value_counts()

Positive    36
Nothing     23
Negative     9
Name: opinion, dtype: int64